<div id="<%= dom_id order_item_modifier %>">
  <p>
    <strong>Order item:</strong>
    <%= order_item_modifier.order_item_id %>
  </p>

  <p>
    <strong>Modifier option:</strong>
    <%= order_item_modifier.modifier_option_id %>
  </p>

</div>
