<h1>Editing order item modifier</h1>

<%= render "form", order_item_modifier: @order_item_modifier %>

<br>

<div>
  <%= link_to "Show this order item modifier", @order_item_modifier %> |
  <%= link_to "Back to order item modifiers", order_item_modifiers_path %>
</div>
