<div id="<%= dom_id item_price %>">
  <p>
    <strong>Menu item:</strong>
    <%= item_price.menu_item_id %>
  </p>

  <p>
    <strong>Base price:</strong>
    <%= item_price.base_price %>
  </p>

</div>
