<h1>Editing item price</h1>

<%= render "form", item_price: @item_price %>

<br>

<div>
  <%= link_to "Show this item price", @item_price %> |
  <%= link_to "Back to item prices", item_prices_path %>
</div>
