<h1>Editing partner order</h1>

<%= render "form", partner_order: @partner_order %>

<br>

<div>
  <%= link_to "Show this partner order", @partner_order %> |
  <%= link_to "Back to partner orders", partner_orders_path %>
</div>
