<div id="<%= dom_id menu_item_modifier %>">
  <p>
    <strong>Menu item:</strong>
    <%= menu_item_modifier.menu_item_id %>
  </p>

  <p>
    <strong>Modifier:</strong>
    <%= menu_item_modifier.modifier_id %>
  </p>

  <p>
    <strong>Primary:</strong>
    <%= menu_item_modifier.primary %>
  </p>

</div>
