<h1>Editing menu item modifier</h1>

<%= render "form", menu_item_modifier: @menu_item_modifier %>

<br>

<div>
  <%= link_to "Show this menu item modifier", @menu_item_modifier %> |
  <%= link_to "Back to menu item modifiers", menu_item_modifiers_path %>
</div>
